@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "About";
}

    <!-- Carousel
    ================================================== 
    <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
      <!-- Indicators 
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img data-src="holder.js/900x500/auto/#777:#7a7a7a/text:First slide" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>	-->
	<!-- /.carousel -->

	<div class="jumbotron jumbotrinity">
      <div class="container">
	  <div class="parallax">
      		<h1>About Us</h1>
      	</div>
      </div>
    </div>
		 <div class="container">
      <div class="row">
    		

        <h1>Who We Are</h1>

          <h3>Email us at <a href="#">trinityacm@trinity.edu</a></h3>

		  <div class="student" id="kermit">
        		<img src='kermit.jpg' height="250px" width="250px" class="img-circle">
        		<p class="position">President</p>
        		<p class="name">Kermit</p>
        	</div>

			<div class="student" id="Fozzie Bear">
        		<img src='fozzie.jpg' height="250px" width="250px" class="img-circle">
        		<p class="position">Vice President</p>
        		<p class="name">Fozzie Bear</p>
        	</div>

				<div class="student" id="Beaker">
        		<img src='Beaker.jpg' height="250px" width="250px" class="img-circle">
        		<p class="position">Treasurer</p>
        		<p class="name">Beaker</p>
        	</div>

			<div class="student" id="Gonzo">
        		<img src='gonzo.jpg' height="250px" width="250px" class="img-circle">
        		<p class="position">Secretary</p>
        		<p class="name">Gonzo</p>
        	</div>


        	<div class="student" id="twitecki">
        		<img src='thomas.jpg' height="250px" width="250px" class="img-circle">
        		<p class="position">Web Master</p>
        		<p class="name">Thomas Witecki</p>
        	</div>
        
        	<div class="student" id="dcastro">
				<img src='diego.jpg' height="250px" width="250px" class="img-circle">
        		<p class="position">Web Master</p>
        		<p class="name">Diego Castro</p>
        	</div>
        	
      	<div class="clearfix"></div>

      	<hr />
      	
  			<h1 id="history">History</h1>

  				<h3>Club History</h3>
  				
    				<p> Lorem ipsum dolor sit amet, pellentesque non enim a nunc libero, ac nibh, diam rem dolor vel elit, eros augue accumsan duis velit justo. Turpis sed in ut maecenas. Quis praesent sed, scelerisque vel odio praesent accumsan, auctor ornare amet feugiat orci nunc tempor. Cursus vel felis bibendum magna non, velit blandit aliquet vel amet, facilisi gravida penatibus. Maecenas egestas a, natoque nunc dolor viverra, nullam condimentum.</p>
    				
    				<p>Magna turpis consequat at lorem lectus, vivamus praesent ut, mattis a nibh fusce mollis. Adipiscing dolor id mauris viverra donec curabitur, pulvinar nec tincidunt, mi integer a ornare. Pretium etiam, officia vehicula ligula velit lacus nibh turpis, ut tortor. Aliquam dolor dictum sed congue, consectetuer auctor et augue quidem tristique urna, a tortor dignissim vulputate, integer ac amet pede. Magna odio viverra wisi quis sem eros, sed eu, justo id in fringilla amet rhoncus feugiat. Tortor maecenas placerat elit habitant mauris. Sit platea viverra non turpis a. Fermentum nisl. Blandit amet ante eiusmod, nec sed leo sed ligula ut eros, lorem lobortis mi purus. Posuere volutpat amet eget pulvinar, mattis et tempus, amet id eu, condimentum sit consectetuer felis.</p>
    				
    				<p>Auctor libero sed dui, porta nec, porttitor mattis tristique facilisi tortor wisi turpis, mauris quam elit pulvinar varius, elit pede nulla nec dictumst. Nisl nulla condimentum dictum. Nulla lacinia justo, vestibulum at nec omnis consequat, aliquid sed nec ac, nunc vivamus dolor ut, mi felis. Ornare vitae urna in a mauris a, pellentesque amet aenean est volutpat amet mattis, amet leo nisl in a in tincidunt, massa quis tristique in ut justo venenatis. Nisl eu vitae elit ante, massa wisi euismod eget lacus, sed mauris bibendum magna. Commodo leo libero, purus quam placerat pulvinar faucibus venenatis et, massa sed consequat per. Rhoncus tristique, tincidunt ac dapibus praesent tempor, duis integer eros molestie porta mollis, vestibulum etiam. Eget nec at neque ac ac magna, id donec, velit voluptas semper amet justo quam suscipit, mollis pede, ante suspendisse urna sodales a diam. Aliquam veniam diam, ullamcorper lorem gravida lectus hymenaeos. Pulvinar quam nobis consequat massa morbi. Orci tortor ut in lorem, nullam in pede etiam vivamus lorem donec, nullam lacinia, tincidunt ac ac suspendisse, per non eu hendrerit aenean.</p>
    				
    				<p>Consequat lobortis tellus mauris, erat et dictum. Sed lorem sed amet libero qui eu, ultrices posuere tortor. Fermentum phasellus sed inceptos id felis amet, vitae a elementum suspendisse vulputate a. In amet, dictum aenean pellentesque pede nec curabitur commodo, ac eu eget voluptas. Ac a vitae per neque cras, vestibulum amet non urna mi in. Wisi sit, sagittis ut blandit non vulputate nulla, orci varius montes aptent, aliquam ac et porta ultricies qui a, pede dui ante. Maecenas porttitor ligula sed, sit erat praesent euismod pharetra sit nec, porta lectus suspendisse convallis, dolor aenean risus animi. Interdum quam nulla ligula vehicula arcu at, sit lacus quisque, laoreet quis diam. Donec purus est, feugiat aliquet. Montes purus elit sit nulla suspendisse, adipiscing lobortis non tortor odio libero curabitur, tincidunt eu suspendisse pharetra etiam ac.</p>

  			<h1>&nbsp;</h1>

    	</div> <!-- Col End -->
  	</div> <!-- Row End -->


  

     

