
body {
    /*background: rgba(145,145,145,1);
    background: -moz-linear-gradient(left, rgba(145,145,145,1) 0%, rgba(133,133,133,1) 51%, rgba(163,163,163,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(145,145,145,1)), color-stop(51%, rgba(133,133,133,1)), color-stop(100%, rgba(163,163,163,1)));
    background: -webkit-linear-gradient(left, rgba(145,145,145,1) 0%, rgba(133,133,133,1) 51%, rgba(163,163,163,1) 100%);
    background: -o-linear-gradient(left, rgba(145,145,145,1) 0%, rgba(133,133,133,1) 51%, rgba(163,163,163,1) 100%);
    background: -ms-linear-gradient(left, rgba(145,145,145,1) 0%, rgba(133,133,133,1) 51%, rgba(163,163,163,1) 100%);
    background: linear-gradient(to right, rgba(145,145,145,1) 0%, rgba(133,133,133,1) 51%, rgba(163,163,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#a3a3a3', GradientType=1 );*/
    background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9))); background-image:-moz-linear-gradient(top,bottom,from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));
}
